/* footer.css */

.footer {
    background-color: var(--container-color);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .footer__container {
    display: grid;
    grid-template-columns: 80% 10% 10%; /* Grid with three sections */
    padding: 1rem 0 .5rem;
  }
  
  .footer__principle{
    padding-left: 3rem;
  }

  .footer__list {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 1rem;
  }
  
  .footer__socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-right: 6rem;
  }
  
  .footer__link,
  .footer__social-link {
    color: var(--title-color);
    text-align: center;
    width: max-content;
  }

  .footer__social-link{
    background-color: var(--title-color);
    color: var(--container-color);
    font-size : 1.25rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    display: inline-flex;
  }
  
  .footer__link:hover,
  .footer__social-link:hover {
    color: var(--title-color-dark);
  }
  
  .footer__copy {
    margin-top: .5rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--smaller-font-size);
  }
  
  /* Media query for small devices */
  @media screen and (max-width: 992px) {
    .footer__social-link {
      padding: 0.25rem;
      border-radius: 0.25rem;
      font-size: 1rem;
    }
  }
  